---
extends: default

rules:
  document-start: disable
  line-length:
    max: 120
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
  truthy:
    # GitHub Actions uses 'on:' for triggers which yamllint flags as truthy
    allowed-values: ['true', 'false', 'on', 'off']
